<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sweetblog</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <h1>sweetblogs</h1>
    <form action="/add" method="post">
        <label for="message">Write your own blog</label>
        <br>
        <textarea id="message" name="message" rows="5" required></textarea>
        <br>
        <input class="add" type="submit" value="add">
        
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="static.js", charset="UTF-8"></script>   
</body>
</html>
