body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url("./daisies-background-gcszbs4m05pc5qfq.jpg");
}
.blog {
    color: black;
    background-color: #CDF5FD;
    position: relative;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    width: 18%;
    min-width: 18%;
    box-shadow: 2px 2px 5px 2px black;
}

.blogBox {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100.5px;
}

.footer {
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    margin-left: 50%;
    transform: translate(-50%, 50%);
    font-family: serif;
    text-align: center;
    font-size: xxx-large;
}
form {
    margin-left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: sans-serif;
    background-color: transparent;



    
}

.add {
    padding: 4px 18px 4px 18px;
    border-radius: 8px;
    border: yellow;
    box-shadow: 1px 1px 3px 1px black;
    background: linear-gradient(245deg,#FFE382, yellow, #FFF5C2);
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 100ms;
}

textarea {
    border: white;
    border-radius: 10px 15px 19px 12px;
    box-shadow: 2px 2px 5px 2px black;

}


.add:hover {
    scale: 1.05;
    font-weight: bolder;
    padding: 6px 20px 6px 20px;
    background: linear-gradient(145deg, yellow,#FFE382, #FFF5C2);
}

@keyframes rotate360 { 
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.rotate:hover{  
    animation: rotate360 200ms ease-in-out ;
}

img {
    position: absolute;
    bottom: 6%;
    right: 4%;
    width: 20px;
    height: auto;
    transform: rotate(360deg);
    opacity: 1.1;
    scale: 0.75;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;


}

img:hover {
    opacity: 1;
    scale: 1.3;
}